/* To avoid overflow in small devices */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  width: 35vw;
  border: 1px solid;
  border-radius: 50px;
}

.searchButton {
  width: 12vw;
  font-size: larger;
}

@media screen and (min-device-width: 542px) and (max-device-width: 1099px) {
  .searchBox {
    width: 50vw;
  }
  .searchButton {
    width: 15vw;
  }
}

@media screen and (min-device-width: 0px) and (max-device-width: 541px) {
  .searchBox {
    width: 80vw;
  }
  .searchButton {
    width: 25vw;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
.userBlock {
  flex: 0;
  padding-top: 50px;
  height: auto;
  font-family: "Roboto Mono", monospace;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  height: auto;
}

.footerLayout {
  padding-top: 50px;
}

.footer a {
  color: white;
}

.dp {
  padding: 10px;
  border: 1px solid black;
}

/* Rankwise Colorcodes */
.newbie {
  color: grey;
}

.pupil {
  color: green;
}

.specialist {
  color: cyan;
}

.expert {
  color: blue;
}

.candidate_master {
  color: violet;
}

.master {
  color: orange;
}

.international_master {
  color: orange;
}

.grandmaster {
  color: red;
}

.international_grandmaster {
  color: red;
}

.legendary_grandmaster {
  color: red;
}

/* Rankwise Colorcodes ends */

.card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.table {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.statsData {
  color: red;
  font-weight: bold;
}
